
/*--------------------------------------HEADER--------------------------------------*/

.headerr{
  background: linear-gradient(135deg, rgba(0,92,119,1) 0%, rgba(88,0,79,1) 100%);
  padding-top: 6%;
  padding-bottom: 6%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  color: white;
}

.headerr hr{
  color: rgb(255, 255, 255);
  width: 6.5%;
  border-width: 2px;
  opacity: 1;
}

.headerr p{
  padding-left: 30%;
  padding-right: 30%;
}

@media only screen and (max-width: 1050px) {

  .headerr p{
    padding-left: 20%;
    padding-right: 20%;
  }

}

/*--------------------------------------SECTION NOUVEAUTES--------------------------------------*/

.nouveautes {
  background: #b1b1b1;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin-bottom: 4%;
}

.nouveautes hr {
  color: black;
  width: 6.5%;
  border-width: 2px;
  opacity: 1;
}

.nouveautes p {
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 3%;
}

.container-nouveautes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 1% 4%;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . .";
  width: 80%;
}

.nouveau-article>img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.nouveau-article>div {
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: rgb(75, 75, 75);
  color: #ffffff;
}

.nouveau-article {
  background: #ffffff;
}

.nouveau-article:hover {
  box-shadow: 0px 0px 50px 0.3px #ffffffae;
}

.nouveautes button {
  margin-top: 3%;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 0.3%;
  padding-bottom: 0.3%;
  border-radius: 8px;
  border: none;
  transition: background-color 0.25s ease;
}

.nouveautes button:hover {
  background-color: rgb(104, 104, 104);
  color: #ffffff;
}

@media only screen and (max-width: 1250px) {

  .nouveautes {
    padding-top: 7%;
    padding-bottom: 7%;
    padding-left: 3%;
    padding-right: 3%;
  }

  .nouveautes p {
    margin-bottom: 6%;
  }

  .container-nouveautes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 8% 8%;
    grid-auto-flow: row;
    grid-template-areas:
      ". ."
      ". .";
  }

  .nouveautes button {
    margin-top: 10%;
    padding-left: 6%;
    padding-right: 6%;
  }

}

@media only screen and (max-width: 800px) {

  .nouveautes p {
    margin-left: 10%;
    margin-right: 10%;
  }

  .nouveautes button{
    margin-top: 12%;
  }

}

@media only screen and (max-width: 620px) {

  .nouveau-article>img {
    width: 100%;
    height: 160px;
    object-fit: cover;
  }

}

/*------------------------------------------------------------------------------------------*/
/*Section nos produits*/

.img-product{
  aspect-ratio: 1/1;
  width: 100%;
}

/*------------------------------------------------------------------------------------------*/
/*Section nos produits*/

.underline{
    border : 2px solid black;
    opacity: 1;
    width: 50%;
}

.image{
  position:relative;
  overflow:hidden;
  padding-bottom:100%;
}

.image img{
  width: 100%; 
  height: 100%; 
  display: block; 
  object-fit: cover; 
  position: absolute;
}



/* CSS Components QuiSommeNous */

.QSNhr {
  border : 2px solid black;
  opacity: 80%;
  width: 40%;
}

/* .QSNtitle{
  font-size: 50px;
} */

.QSNimg{
  padding: 0!important;
}

.QSNimg img{
  object-fit: cover;
  height: 100%;
}

/* FIN CSS Components QuiSommeNous */

/*------------------------------FOOTER------------------------------*/

.footerr {
    background-color: rgb(36, 36, 36);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
}

.footerr img{
    height: 80px;
    width: auto;
}

.social-icons-container {
    margin-top: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    margin: 0 20px;
    font-size: 35px;
    color: white;
    transition: color 0.3s ease;
}

.social-icon:hover[href="https://www.facebook.com/"] {
    color: #0050fe;
  }

  .social-icon:hover[href="https://www.snapchat.com/"] {
    color: #dfc100;
  }

  .social-icon:hover[href="https://www.instagram.com/"] {
    color: #e5133a;
  }

  .social-icon:hover[href="https://www.linkedin.com/"] {
    color: #3f8ed3;
  }
  
  .footerr div:last-child{
    width: 100%;
    background-color: rgb(19, 19, 19);
    color: #e6e6e6;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 4%;
  }
/*page articles*/

.little-hr {
  color: black;
  width: 6.5%;
  border-width: 2px;
  opacity: 1;
}

.nav-artists a {
  color: black;
  font-weight: 600;
}

.no-style{
  text-decoration: none;
  color: black;
}

/*page articles*/

.little-hr {
  color: black;
  width: 6.5%;
  border-width: 2px;
  opacity: 1;
}

.nav-artists a {
  color: black;
  font-weight: 600;
}

.article-card-grey{
  background-color: #b1b1b1;
  border-radius: 0!important;
}

.article-card img{
  aspect-ratio: 1 / 1;
  width: 100%;
}

/*------------------------------FOOTER------------------------------*/

.footerr {
    background-color: rgb(36, 36, 36);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3%;
    margin-top: 5%;
}

.footerr img{
    height: 80px;
    width: auto;
}

.social-icons-container {
    margin-top: 2.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-icon {
    margin: 0 20px;
    font-size: 35px;
    color: white;
    transition: color 0.3s ease;
}

.social-icon:hover[href="https://www.facebook.com/"] {
    color: #0050fe;
  }

  .social-icon:hover[href="https://www.snapchat.com/"] {
    color: #dfc100;
  }

  .social-icon:hover[href="https://www.instagram.com/"] {
    color: #e5133a;
  }

  .social-icon:hover[href="https://www.linkedin.com/"] {
    color: #3f8ed3;
  }
  
  .footerr div:last-child{
    width: 100%;
    background-color: rgb(19, 19, 19);
    color: #e6e6e6;
    text-align: center;
    margin-bottom: 0px;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 4%;
  }
  
/*-----------------------------------ONE ARTICLE--------------------------------------------*/

.onearticle {
  display: flex;
  flex-direction: row;
  margin: 6%;
}

.onearticle>div {
  width: 50%;
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.onearticle div img {
  width: 100%;
  aspect-ratio: 1/1;
}


.buttonsonearticle {
  width: 100%;
}

.buttonsonearticle button {
  padding: 1.3%;
  padding-left: 4%;
  padding-right: 4%;
  margin-right: 4%;
  border-radius: 5px;
}

.onearticle select {
  width: 15%;
  margin-bottom: 3%;
}

.comments {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.stars {
  width: 26%;
  margin-bottom: 3%;
}

.stars .star {
  margin-right: 5%;
}

.price {
  font-size: 25px;
}

@media only screen and (max-width: 1250px) {

  .onearticle {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
  }

  .onearticle>div {
    width: 80%;
  }

  .textarticle {
    margin-top: 5%;
  }

}

@media only screen and (max-width: 660px) {

  .onearticle select {
    width: 25%;
  }

  .stars {
    width: 45%;
    margin-bottom: 3%;
  }

}

/*--------------------------COMMENT------------------------------*/

.sectioncomments {
  margin-top: 7%;
  margin-left: 9%;
  margin-bottom: 5%;
}

.sectioncomments hr {
  width: 6%;
  border-width: 2px;
  opacity: 1;
  margin-top: 2%;
  margin-bottom: 2%;
}

.sectioncomments button {
  padding: 0.4%;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 5px;
  margin-bottom: 2%;
}

.comment {
  margin-right: 40%;
  margin-top: 3%;
}

.comment .stars {
  width: 30%;
  margin-bottom: 2%;
}

@media only screen and (max-width: 1250px) {

  .sectioncomments {
    margin-top: 10%;
    margin-left: 17%;
    margin-bottom: 10%;
  }

  .comment {
    margin-right: 25%;
  }

  .comment .stars {
    width: 50%;
  }

}

@media only screen and (max-width: 660px) {


  .sectioncomments {
    margin-top: 20%;
    margin-bottom: 20%;
  }

  .sectioncomments hr {
    width: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .comment {
    margin-top: 10%;
  }

}

/*------------------------------FOOTER------------------------------*/

.panier button {
  background-color: #AFAFAF;
  border-radius: 4px;
  border: none;
  transition: background-color 0.25s ease;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.panier button:hover {
  background-color: rgb(47, 47, 47);
  color: #ffffff;
}

.panier p {
  margin: 0;
}

.panierDetail{
  display: flex;
}

.panier .btnSmall{
  margin-left: 8%;
  margin-right: 8%;
}

.panier hr{
  color: rgb(0, 0, 0);
  width: 75%;
  border-width: 2px;
  opacity: 1;
}

.panier .bgcolor{
  background-color: #DBDBDB;

}

.ACremove {
  cursor: pointer;
}

/*----------------------------------IMAGE LINE ARTICLE------------------------------------*/

.imagelinearticle{
  height: 70px;
  width: 70px;
}
.full-width{
  width: 100%;
}